<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Shortcuts</title>
</head>
<STYLE>A {text-decoration: none;} </STYLE>
<body>

        <form method="POST">
            <button name="cookies" value="cookies">Cookies</button>
            <button name="puppies" value="puppies">Puppies</button>
        </form>

        {{if .}}
            <p>Aren't they just beautiful?</p>
            {{.}}
        {{end}}

</html>
</body>
</html>
<!-- This File should display all other available quizes--> 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 