<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Buttons Buttons</title>
</head>
<STYLE>A {text-decoration: none;} </STYLE>
<body>
    <h3>
    <pre>
    
 _______   ______    _______     _______..__   __.  __.___________.        ___           _______.  ______  __   __          ___      .______     .___________.                                                                      
|       \ /  __  \  |   ____|   /       ||  \ |  | (_ )           |       /   \         /       | /      ||  | |  |        /   \     |   _  \    |           |                                                                      
|  .--.  |  |  |  | |  |__     |   (----`|   \|  |  |/`---|  |----`      /  ^  \       |   (----`|  ,----'|  | |  |       /  ^  \    |  |_)  |   `---|  |----`                                                                      
|  |  |  |  |  |  | |   __|     \   \    |  . `  |        |  |          /  /_\  \       \   \    |  |     |  | |  |      /  /_\  \   |      /        |  |                                                                           
|  '--'  |  `--'  | |  |____.----)   |   |  |\   |        |  |         /  _____  \  .----)   |   |  `----.|  | |  |     /  _____  \  |  |\  \----.   |  |                                                                           
|_______/ \______/  |_______|_______/    |__| \__|        |__|        /__/     \__\ |_______/     \______||__| |__|    /__/     \__\ | _| `._____|   |__|                                                                                                                                                                                                                                                                                                                     
    </pre>
    <pre>
                                                                                                                                                                                                                                       
.___  ___.      ___       __  ___  _______     ___________    ____  _______ .______     ____    ____ .___________. __    __   __  .__   __.   _______    .______    _______ .___________.___________. _______ .______      ______   
|   \/   |     /   \     |  |/  / |   ____|   |   ____\   \  /   / |   ____||   _  \    \   \  /   / |           ||  |  |  | |  | |  \ |  |  /  _____|   |   _  \  |   ____||           |           ||   ____||   _  \    |      \  
|  \  /  |    /  ^  \    |  '  /  |  |__      |  |__   \   \/   /  |  |__   |  |_)  |    \   \/   /  `---|  |----`|  |__|  | |  | |   \|  | |  |  __     |  |_)  | |  |__   `---|  |----`---|  |----`|  |__   |  |_)  |   `----)  | 
|  |\/|  |   /  /_\  \   |    <   |   __|     |   __|   \      /   |   __|  |      /      \_    _/       |  |     |   __   | |  | |  . `  | |  | |_ |    |   _  <  |   __|      |  |        |  |     |   __|  |      /        /  /  
|  |  |  |  /  _____  \  |  .  \  |  |____    |  |____   \    /    |  |____ |  |\  \----.   |  |         |  |     |  |  |  | |  | |  |\   | |  |__| |    |  |_)  | |  |____     |  |        |  |     |  |____ |  |\  \----.  |__|   
|__|  |__| /__/     \__\ |__|\__\ |_______|   |_______|   \__/     |_______|| _| `._____|   |__|         |__|     |__|  |__| |__| |__| \__|  \______|    |______/  |_______|    |__|        |__|     |_______|| _| `._____|   __    
                                                                                                                                                                                                                             (__)   
    </pre>
    <?php 
    if(isset($file)) {
        if ($user == falling_down_a_rabit_hole) {
            exit()?
        }
        else {
            go to .flagkindsir
        }
        ?>

</body>
</html>
<!-- This File should display all other available quizes--> 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 