<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Flag</title>
</head>
<body>
    <h3>Admin</h3>
    <p>Hey there admin, thanks for loggin in with your super secure password ;)</p>
    <p>Here are the keys to the car you wanted to oversell: {{.}}</p>
    
    <p>Is there anything else you might need?</p>
    <a href="/yes">Yes</a><br>
    <a href="/no">No</a>


</body>
</html>