<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <style>
        .container{
    text-align: center;
}
.container pre{
    display: inline-block;
    text-align: left;
}
        </style>
    </head>
    <body>
    <div class="container">
        <pre>
         █     █░▓█████  ██▓     ▄████▄   ▒█████   ███▄ ▄███▓▓█████ 
        ▓█░ █ ░█░▓█   ▀ ▓██▒    ▒██▀ ▀█  ▒██▒  ██▒▓██▒▀█▀ ██▒▓█   ▀ 
        ▒█░ █ ░█ ▒███   ▒██░    ▒▓█    ▄ ▒██░  ██▒▓██    ▓██░▒███   
        ░█░ █ ░█ ▒▓█  ▄ ▒██░    ▒▓▓▄ ▄██▒▒██   ██░▒██    ▒██ ▒▓█  ▄ 
        ░░██▒██▓ ░▒████▒░██████▒▒ ▓███▀ ░░ ████▓▒░▒██▒   ░██▒░▒████▒
        ░ ▓░▒ ▒  ░░ ▒░ ░░ ▒░▓  ░░ ░▒ ▒  ░░ ▒░▒░▒░ ░ ▒░   ░  ░░░ ▒░ ░
          ▒ ░ ░   ░ ░  ░░ ░ ▒  ░  ░  ▒     ░ ▒ ▒░ ░  ░      ░ ░ ░  ░
          ░   ░     ░     ░ ░   ░        ░ ░ ░ ▒  ░      ░      ░   
            ░       ░  ░    ░  ░░ ░          ░ ░         ░      ░  ░
                                ░                                   
        </pre>
        <form method="POST">
            <input type="text" name="username" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <input type="submit">
        </form>
        <p><a href="/signup">signup</a></p>
        </div>
    </body>
</html>